on property:vendor.mseccam.auto.start=true && property:sys.boot_completed=1 && property:vendor.mitee_vm.boot_completed=1
    start vendor.mseccam

service vendor.mseccam /odm/bin/mseccam
    class hal
    user system
    group system
    disabled
    oneshot
    interface aidl vendor.xiaomi.hardware.seccam.IMiSecCam/default
